<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dallas' Example 3</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1><a href="/">Link to Start Page</a></h1>
    <h2>Dallas' Articles/Form Solution</h2>
    <h3>Add new article</h3>

    <form id="myForm">
        <div id="content">
            <label>Title: </label><input type="text" name="title"/><br/>
            <lable>Content:</lable><br/>
            <textarea rows="5" cols="20" name="content"></textarea>
        </div>
        <br/><button id="submit">Add</button>
    </form>
    <div id="results"></div>

    <script src="public/ex3.js"></script>
</body>
</html>
